
html, body {
    font-family: Verdana, sans-serif;
    font-size: medium;
    padding: 0vmin;
    margin: 1vmax;
}

.centered {
    text-align: center;
}

.indent {
    padding-left: 16px;
}

input, select {
    font-family: Verdana, sans-serif;
    font-size: medium;
}

#header tr td:nth-child(1) {
    text-align: right;
    font-weight: bold;
}

#header tr td:nth-child(2) {
    text-align: left;
}

#logs {
    margin-top: 3vh;
}

#logs table tbody {
    cursor: pointer;
}

#logs .selected {
    background-color: #DDDDDD;
}

#logs .detail {
    background-color: #EEEEEE;
}

#logs .detail-items,
#logs .detail-btns
{
    display: flex;
    flex-wrap: wrap;
}

#logs .detail-items > div,
#logs .detail-btns > div
{
    padding: 1vmax;
}